name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main # main 브랜치에 코드가 push될 때 실행

permissions:
  contents: write # 배포 권한 설정

jobs:
  build-and-deploy:
    runs-on: windows-latest #  가상 서버 환경을 윈도우로 설정
    steps:
      - name: Checkout 
        uses: actions/checkout@v4 # 소스 코드 가져오기

      - name: Install and Build 
        shell: cmd # 윈도우 명령 프롬프트(CMD) 사용 명시
        run: |
          npm install
          npm run build

      - name: Deploy 
        uses: JamesIves/github-pages-deploy-action@v4 # 배포 실행
        with:
          folder: dist # 빌드 결과물 폴더
          branch: gh-pages # 배포용 브랜치